/mnt/sdb/2024/ssd/data
data/
data*
*/mnt/sdb/2024/ssd/data

/mnt/sdb/2024/ssd/outputs
outputs/
outputs*
/mnt/sdb/2024/ssd/inference_outputs/images
images/
images*
/mnt/sdb/2024/ssd/__pycache__
/mnt/sdb/2024/ssd/__pycache__*
__pycache__/
/mnt/sdb/2024/ssd/wandb
wandb/  
wandb*
/mnt/sdb/2024/ssd/label_indices.npy
/mnt/sdb/2024/ssd/label_indices.npy*
label_indices.npy
/mnt/sdb/2024/ssd/inference_outputs
inference_outputs/
inference_outputs*
*/mnt/sdb/2024/ssd/inference_outputs/images
/mnt/sdb/2024/ssd/data/inference_data
inference_data/
inference_data*
/mnt/sdb/2024/ssd/data/Train
Train/
Train*
/mnt/sdb/2024/ssd/data/Val
Val/
Val*
/mnt/sdb/2024/ssd/data/archive.zip
/mnt/sdb/2024/ssd/data/archive.zip*
archive.zip
/mnt/sdb/2024/ssd/outputs/dropout_server_model
dropout_server_model/
dropout_server_model*
/mnt/sdb/2024/ssd/outputs/normal_model
normal_model/
normal_model*
/mnt/sdb/2024/ssd/outputs/old_files
old_files/
old_files*
